@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
}
body {
    background: url('Imagens/fundo-madeira.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
iframe {
    width: 197px;
    height: 352px;
    position: relative;
    left: 49%;
    top: 49%;
    transform: translate(-49%, -48%);
}
div#tela {
    width: 236px;
    background: url('Imagens/frame-iphone.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 475px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
}

div#menu{
    padding: 10px;
    padding-right: 20px;
    float: right;
    width: 50px;
}
.icone{
    width: 50px;
    border-radius: 50%; 
    box-sizing: border-box;
    margin: 10px;
}
div#menu img:hover{
    border: 2px solid rgba(255, 255, 255, 0.616);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.39);
    transition: transform 0.5s, border 1s;
}